<%= head('Not Found',
         '<a href="'+h(@urimapper.home())+'">Home</a> &rsaquo; <strong>Not Found</strong>')
%>
<h1>Not Found</h1>
<p><%=h @uri %> は見つかりませんでした。</p>
<p><a href="<%= @urimapper.home() %>">ホームに戻る</a></p>
<%= foot() %>
