AddType "text/html; charset=UTF-8" html htm

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} \.(txt|hsp)$
RewriteRule ^ index.cgi [L]
</IfModule>
